body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3e8ff;
    color: #4b0082;
}

header {
    background-color: #b266ff;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

main {
    padding: 30px;
}

.introducao {
    text-align: center;
    margin-bottom: 50px;
}

.texto {
    width: 70%;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}

.funcionalidades {
    text-align: center;
    margin-bottom: 50px;
}

.funcionalidades h2 {
    color: #7a00cc;
    margin-bottom: 20px;
}

.funcionalidades p {
    width: 70%;
    margin: auto;
    line-height: 1.6;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    color: #7a00cc;
}

.tecnologias {
    text-align: center;
    margin-bottom: 50px;
}

.tecnologias h2 {
    color: #7a00cc;
    margin-bottom: 20px;
}

.tecnologias ul {
    list-style: none;
    padding: 0;
}

.tecnologias li {
    background: white;
    width: 200px;
    margin: 10px auto;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

footer {
    background-color: #b266ff;
    color: white;
    text-align: center;
    padding: 20px;
}

.botao-entrar {
    text-align: center;
    margin-bottom: 20px;
}

.botao-entrar a {
    text-decoration: none;
}

.botao-entrar button {
    background-color: white;
    color: #7a00cc;
    border: 2px solid white;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.botao-entrar button:hover {
    background-color: #f3e8ff;
}
